.container {
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
}

.pageContainer {
  margin-left: 200px;
  padding: 20px 20px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-weight: 400;
}

.pageContainer > p {
  padding-top: 10px;
  font-weight: 300;
}

.postContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
}
