.container {
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
}

.pageContainer {
  margin-left: 200px;
  padding: 20px 20px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-weight: 400;
  padding-left: 25px;
}

.pageContainer > p {
  padding-top: 10px;
  padding-left: 25px;
  font-weight: 300;
}

.postContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  gap: 40px;
}

@media only screen and (max-width: 1300px) {
  .pageContainer {
    margin-left: 0;
  }
  .postContainer {
    padding-left: 0;
    padding-right: 0;
  }
}
