.container {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  /* background-color: red; */
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.comInfoContainer {
  margin-left: 200px;
  padding-left: 20px;
  margin-top: 80px;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 20px;
}

.comInfo {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 1rem;
  gap: 20px;
  background-color: rgb(28, 28, 28);
  width: 350px;
  height: fit-content;
  padding-bottom: 30px;
  border-radius: 12px;
}

.comInfo > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.comInfo > div {
  padding: 0 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.comInfo > div > img {
  width: 40px;
  height: 40px;
}

.comInfo > div > span {
  font-size: 1.1rem;
  width: 100%;
}

.comInfo > div > button {
  background-color: rgb(83, 83, 179);
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 18px;
  animation: pop 0.1s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.comInfo > p {
  padding: 0 20px;
  font-size: 0.95rem;
  font-weight: 200;
  color: rgb(189, 189, 189);
}

.comInfo > span:nth-child(3) {
  padding: 0 20px;
  margin-bottom: -10px;
}

.comData {
  justify-content: space-between;
}

.comData > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.comData > div > span:nth-child(1) {
  font-size: 1.2rem;
}

.comData > div > span:nth-child(2) {
  color: rgb(145, 145, 145);
  font-weight: 400;
}

.postContainer {
  width: calc(100% - 370px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.postContainer > div:nth-child(1) > div > img {
  width: 50px;
  height: 50px;
}

.postContainer > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.postContainer > div:nth-child(1) > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.postContainer > div:nth-child(1) > div > span {
  font-size: 1.6rem;
}

.postContainer > div:nth-child(1) > a {
  display: flex;
  background-color: rgba(72, 72, 72, 0.494);
  width: fit-content;
  padding: 8px;
  border-radius: 20px;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  transition: all 0.3s;
}

.postContainer > div:nth-child(1) > a:hover {
  background-color: rgba(91, 91, 91, 0.494);
}

.postContainer > div:nth-child(1) > a > img {
  width: 25px;
  height: 25px;
}
