.popularCommunites {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 1rem;
  gap: 20px;
  background-color: rgb(28, 28, 28);
  width: 250px;
  height: fit-content;
  padding: 20px;
  border-radius: 12px;
}

.popularCommunites > h3 {
  font-size: 0.8rem;
  color: rgb(241, 241, 241);
  font-weight: 300;
}

.popularCommunites > a {
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  transition: all 0.1s;
}

.popularCommunites > a:hover {
  cursor: pointer;
  background-color: rgb(48, 46, 46);
}

.popularCommunites > a > img {
  height: 25px;
  width: 25px;
}
