.card {
  background-color: grey;
  /* padding: 10px 20px; */
}

.task {
  position: relative;
  width: 100%;
  border-radius: 8px;
  min-height: 100px;
  padding: 15px 15px 8px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: pop 0.1s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.comDetails {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comDetails > span:nth-child(2) {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #3e3e3e7e;
  padding: 10px;
  gap: 5px;
}

.comDetails > span:nth-child(1) {
  color: #7a7a7a;
}

.comDetails > span:nth-child(3) {
  background-color: rgb(64, 64, 64);
}

.comDetails img {
  width: 25px;
  height: 25px;
}

.task > p:nth-child(2) {
  padding-right: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

.task > p:nth-child(3) {
  color: rgb(207, 207, 207);
  font-weight: 300;
}

.postDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 300;
}

.postDetails > span,
.postDetails > a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.postDetails img {
  height: 30px;
  width: 30px;
}

.relativeTime {
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.actionContainer {
  display: flex;
  border-radius: 12px;
  height: 40px;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}

.like {
  animation: 0.2s popup ease-out;
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0.7;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.likeButton {
  all: unset;
  cursor: pointer;
}

.comment {
  display: flex;
  gap: 12px;
  padding: 0 8px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  color: rgb(122, 122, 122);
}

.comment:hover {
  background-color: rgba(126, 126, 126, 0.384);
}

.postInfo {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 5px;
}
