.main > h1 {
  font-size: 2.5rem;
  cursor: pointer;
}

.main > form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  gap: 5px;
}

.main > form > p {
  margin-top: 30px;
  color: rgb(228, 111, 111);
}

.main > form > button {
  margin: 30px auto 0 auto;
  padding: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.content {
  margin-left: 250px;
  margin-top: 100px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* background-color: red; */
  width: 1000px;
}
