.container {
  display: flex;
  margin: 0 auto;
  /* background-color: red; */
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.commentContainer {
  margin-left: 220px;
  padding: 0 20px;
  margin-top: 80px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: pop 0.2s ease-in-out;
}

.commentContainer > textarea {
  border: none;
  height: 100px;
  font-family: inherit;
  outline: none;
  color: white;
  padding: 15px;
  font-size: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 840px;
  background-color: rgb(29, 29, 29);
}

.commentContainer > button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(69, 69, 150);
  padding: 15px 25px;
  border-radius: 8px;
  width: fit-content;
}

.task {
  position: relative;
  width: 100%;
  border-radius: 8px;
  min-height: 100px;
  padding: 15px 15px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: pop 0.1s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.task > p:nth-child(2) {
  color: rgb(207, 207, 207);
  font-size: 1.2rem;
  font-weight: 300;
}

.postDetails {
  display: flex;
  gap: 20px;
  font-weight: 300;
}

.postDetails > a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.postDetails img {
  height: 30px;
  width: 30px;
}

.relativeTime {
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.actionContainer {
  display: flex;
  background-color: rgb(32, 32, 32);
  width: fit-content;
  border-radius: 12px;
  height: 40px;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}

.like {
  animation: 0.2s popup ease-out;
}

.likeButton {
  all: unset;
  cursor: pointer;
}

.hr {
  border: 0;
  width: 100%;
  border-bottom: 2px solid rgb(41, 41, 41);
}

@media only screen and (max-width: 1300px) {
  .commentContainer {
    margin-left: 0;
  }
}
